body {
    padding-top: 55px;
}

.jumbotron {
    border: 2px solid lightgrey;
}

.text {
    margin-bottom: 10px;
    border: 1px solid darkgrey;
}

button {
    border: 1px solid darkgrey;
    outline: none;
}

button:hover {
    background-color: grey;
}

.addform {
    padding-top: 5px;
}
