<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Project Web Task List</h1>
<table border="1" style="width:600px">
    <tr style="font-size: 20">
        <td><strong>Description</strong></td>
        <td><strong>Comment</strong></td>
        <td><strong>Owner</strong></td>
    </tr>
    <tr th:each="task : ${taskList}">
        <td><p th:text="${task.description}" /></td>
        <td><p th:text="${task.comment}" /></td>
        <td><p th:text="${task.owner}" /></td>
    </tr>
</table>

<a href="index">Back</a>

</body>
</html>