<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml"
      xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!--Required meta tags -->
    <metacharset="utf-8">
    <metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS -->
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
</head>
<body>

<h1>Project Web Task List</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="allTasks">All tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="toDo">To do</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="done">Done</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="logout">Log out</a>
    </li>
</ul>

<form action="/index" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Add task</span>
        </div>
        <input type="text" aria-label="description" class="form-control" name="description" id="description" value="description">
        <input type="text" aria-label="comment" class="form-control" name="comment" id="comment" value="comment">
        <input type="text" aria-label="done" class="form-control" name="owner" id="owner" value="owner">
        lägga till checkbox
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    <form action="/search" method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Search task</span>
            </div>
            <input type="keyword" aria-label="keyword" class="form-control" name="keyword" id="keyword" value="keyword">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</body>
</html>