<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Project Web Task List</h1>

<ul>
    <li><a href="allTasks">All tasks</a></li>
    <li><a href="toDo">To do</a></li>
    <li><a href="done">Done</a></li>

    <form action="/search" method="post">
        <li>Search tasks: <input type="text" name="keyword"/>
            <input type="submit"/></li>
    </form>

    <li><a href="logout">Log out</a></li>


</ul>

</body>
</html>