<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

<h1>Project Web Task List</h1>

<ul>
    <li><a href="allTasks">All tasks</a></li>
    <li><a href="toDo">To do</a></li>
    <li><a href="done">Done</a></li>

    <br>

    <form action="/search" method="post">
        <fieldset>
            <legend>Search tasks:</legend>
            <label for="keyword"></label>
            <input type="text" name="keyword" id="keyword" value="keyword">
            <input type="submit"/>
        </fieldset>
    </form>

    <form action="/index" method="post" th:object="${task}">
        <fieldset>
            <legend>Add task:</legend>
            <label for="description"></label>
            <input name="description" id="description" value="description">
            <label for="comment"></label>
            <input name="comment" id="comment" value="comment">
            <label for="owner"></label>
            <input name="owner" id="owner" value="owner">
            Done: <input type="checkbox" th:field="*{isCompleted}"/>
            <input type="submit"/>
        </fieldset>
    </form>

    <br>

    <li><a href="logout">Log out</a></li>


</ul>

</body>
</html>