<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!--Required meta tags -->
    <metacharset="utf-8">
    <metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS -->
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
</head>
<body>

<h1>Project Web Task List</h1>

<form action="/" method="post">
    Username: <input type="text" name="username"/>
    Password: <input type="password" name="password"/>
    <input type="submit"/>
</form>
</body>
</html>