<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>

<h1>Project Web Task List</h1>

<table>
    <td>Description</td>
    <td>Comment</td>
    <td>Owner</td>
    <tr th:each="task : ${result}">
        <td><p th:text="${task.description}" /></td>
        <td><p th:text="${task.comment}" /></td>
        <td><p th:text="${task.owner}" /></td>
    </tr>
</table>

<a href="index">Back</a>

</body>
</html>