<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!--Required meta tags -->
    <metacharset="utf-8">
    <metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS -->
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Project Web Task List</a>
        <!-- Search function -->
        <form action="/search" method="post">
            <input type="text" name="keyword" id="keyword" placeholder="Search..">
        </form>
        <!-- Search function end -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="allTasks">All Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="toDo">To do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="done">Done</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Table with items-->

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Comment</th>
        <th scope="col">Owner</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <tr th:each="task : ${tasksToDo}">
        <td><a th:href="'/' + ${task.id}" p th:text="${task.description}" /></td>
        <td><a th:href="'/' + ${task.id}" p th:text="${task.comment}" /></td>
        <td><a th:href="'/' + ${task.id}" p th:text="${task.owner}" /></td>
    </tr>
    </tbody>
</table>

</body>
</html>